<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914186661023-qk0l0qk9hv4t7s0ojbv7t167glumvt6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914186661023-qk0l0qk9hv4t7s0ojbv7t167glumvt6r</string>
	<key>API_KEY</key>
	<string>AIzaSyBeze5nVKPFrcJuh88Sg2KnuT2D8fx4hVg</string>
	<key>GCM_SENDER_ID</key>
	<string>914186661023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail-night0000910.Drawing</string>
	<key>PROJECT_ID</key>
	<string>drawing-46b31</string>
	<key>STORAGE_BUCKET</key>
	<string>drawing-46b31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914186661023:ios:f6ecec04aa5ba737f586aa</string>
</dict>
</plist>